*.pyc

bin
combined_corpus_except_ofcourse_keylogger.arpa
corpus_from_usage.arpa
doc
fakekey_uinput
sphinx3_livesegment*
training_corpora
w0.wt
words_to_add.d
words_to_omit.d
word-vocab.arpa
w.wt
voice-keyboard-noicons.diff
voice-keyboard-noicons.py
